* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.header {
    z-index: 1;
    position: fixed;
    height: 80px;
    width: 100%;
    background: #00acee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header span {
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.tweets,
.users {
    margin-top: 80px;
}
.tweet__card:nth-of-type(odd) {
    background: #f4f4f4;
}
.tweet__card {
    border: 1px solid #e3e3e3;
    padding: 15px;
    color: rgb(60, 60, 60);;
}
.tweet__card .card__name {
    color: rgb(25, 25, 25);
    font-weight: 600;
}
.tweet__card .card__email {
    font-size: 14px;
    color: rgb(137, 137, 137);
}
.tweet__card .card__delete {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    rotate: 45deg;
    font-size: 20px;
    margin: 10px 0 0 0;
    height: 21px;
    width: 21px;
    cursor: pointer;
    border-radius: 50% ;
    background: #e0dfdf;
}
.tweet__card .card__delete:hover {
    color: black;
    background: #ff4343;
}
.tweet__card .card__title {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 16px;
}
.tweet__card .card__text {
    margin-top: 5px;
}
.users .user__card {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    height: 80px;
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
}
.user__card .card__name {
    padding-bottom: 10px;
    color: rgb(25, 25, 25);
    font-weight: 600;
}
.user__card .card__email {
    font-size: 14px;
    color: rgb(137, 137, 137);
}
.post-loader {
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
}
.post-loader div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.post-loader div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #00acee;
}
.post-loader div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.post-loader div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.post-loader div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.post-loader div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.post-loader div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.post-loader div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.post-loader div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.post-loader div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.post-loader div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.post-loader div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.post-loader div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.post-loader div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
